In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

# Import Data Downloaded from Google BigQuery

In [3]:
df = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/W266 Final Project/data/data_from_bigquery.csv')
print(df.columns)
print(df.shape)
df[df.id == 55661532]

Index(['id', 'title', 'body', 'accepted_answer_id', 'answer_count',
       'comment_count', 'community_owned_date', 'creation_date',
       'favorite_count', 'last_activity_date', 'last_edit_date',
       'last_editor_display_name', 'last_editor_user_id', 'owner_display_name',
       'owner_user_id', 'parent_id', 'post_type_id', 'score', 'tags',
       'view_count', 'id_1', 'title_1', 'body_1', 'accepted_answer_id_1',
       'answer_count_1', 'comment_count_1', 'community_owned_date_1',
       'creation_date_1', 'favorite_count_1', 'last_activity_date_1',
       'last_edit_date_1', 'last_editor_display_name_1',
       'last_editor_user_id_1', 'owner_display_name_1', 'owner_user_id_1',
       'parent_id_1', 'post_type_id_1', 'score_1', 'tags_1', 'view_count_1'],
      dtype='object')
(60570, 40)

            id  ... view_count_1
0     55661532  ...          NaN
1398  55661532  ...          NaN

[2 rows x 40 columns]

In [4]:
#Select only relevant columns and rename
df2 = df[['id', 'title', 'body', 'accepted_answer_id', 'answer_count', 'view_count', 'id_1', 'body_1', 'score_1']]
df2.columns = ['question_id', 'question_title_raw', 'question_body_raw', 'accepted_answer_id', 'answer_count', 'view_count', 'answer_id', 'answer_body_raw', 'answer_score']
df2.head()

   question_id  ... answer_score
0     55661532  ...            0
1     55661626  ...            0
2     55661929  ...            0
3     55662778  ...            0
4     55662778  ...            0

[5 rows x 9 columns]

# Preprocessing

## Add accepted_answers column (1's and 0's)

In [5]:
def is_accepted_answer(row):
  """Returns whether the answer is the accepted answer or not"""
  return 1 if row['accepted_answer_id'] == row['answer_id'] else 0

In [6]:
df2['is_accepted_answer'] = df2.apply(lambda row: is_accepted_answer(row), axis=1)
df2.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   question_id  ... is_accepted_answer
0     55661532  ...                  0
1     55661626  ...                  1
2     55661929  ...                  0
3     55662778  ...                  1
4     55662778  ...                  0

[5 rows x 10 columns]

 ## Drop unique questions with more than 10 answers

In [7]:
print(df2.shape)

#Create dataframe of question_id and count of answer per question_id
answer_count = df2[['question_id','answer_id']].groupby(by="question_id").count()   

#Isolate dataframe to only question_ids with more than X answers
X=10
answer_count_Xplus = answer_count[answer_count.answer_id > X]

#Make an array of question_ids with more than X answers
unique_question_ids_Xplus = np.array(answer_count_Xplus.index)                         

#Isolate raw_data dataframe with question_ids with more than 10 answers each
raw_data_Xplus = df2[df2['question_id'].isin(unique_question_ids_Xplus)]     

#Drop questions from raw_data dataframe with more than 10 answers
df2 = df2.drop(raw_data_Xplus.index)                                          
print(df2.shape)

(60570, 10)
(60336, 10)

In [8]:
answer_count2 = df2[['question_id','answer_id']].groupby(by="question_id").count()
answer_count2.sort_values(by=['answer_id'], ascending=False).head(10)

             answer_id
question_id
37084246            10
51456809            10
42658784            10
39440723            10
56156938            10
57018192            10
39042775             9
39080180             9
56853540             9
51966858             9

## Parse Question and Answer Body to Extract Content From Tags & Parse Text / Code
1) Concatenate Question Title and Body (Raw data concatenated) 

2) Run ExtractContent, ParseText, and ParseCode (on each raw column). New Columns include:  

-- question_title_raw.............(no extractcontent, extractcode, nor extracttext <- b/c question-title does not have html tags or code)

-- question_body_raw  
-- question_body.................(extractContent)  
-- question_body_text.................(extractText)    
-- question_body_code.................(extractCode)      

-- question_title_body_raw  
-- question_title_body.................(extractContent)  
-- question_title_body_text.................(extractText)      
-- question_title_body_code.................(extractCode)        

-- answer_body_raw  
-- answer_body.................(extractContent)     
-- answer_text.................(extractText)      
-- answer_code.................(extractCode)

In [9]:
# Import parse.py file
import sys
sys.path.append('/content/drive/MyDrive/Colab Notebooks/W266 Final Project/master/helper_functions')
import parse

In [10]:
df3=df2
print(df3['question_title_raw'].isnull().values.any())
print(df3['question_body_raw'].isnull().values.any())

False
False

In [11]:
# 1. Concatenate question title and body
df3["question_title_body_raw"] = df3['question_title_raw'] + df3['question_body_raw']
df3.head(5)

   question_id  ...                            question_title_body_raw
0     55661532  ...  When I run my socket program, there get: `impo...
1     55661626  ...  with socket.socket(socket.AF_INET, socket.SOCK...
2     55661929  ...  How to display 5 numbers per line from a list?...
3     55662778  ...  create list with spectial type - Spyder error ...
4     55662778  ...  create list with spectial type - Spyder error ...

[5 rows x 11 columns]

In [12]:
# 2. Parse Text and Parse Code

import time
start = time.time()

df3.loc[:,'question_body'] = df3['question_body_raw'].apply(lambda row: parse.extractContent(row), 1)
df3.loc[:,'question_body_text'] = df3['question_body_raw'].apply(lambda x: parse.extractText(x))
df3.loc[:,'question_body_code'] = df3['question_body_raw'].apply(lambda x: parse.extractCode(x))

df3.loc[:,'question_title_body'] = df3['question_title_body_raw'].apply(lambda row: parse.extractContent(row), 1)
df3.loc[:,'question_title_body_text'] = df3['question_title_body_raw'].apply(lambda x: parse.extractText(x))
df3.loc[:,'question_title_body_code'] = df3['question_title_body_raw'].apply(lambda x: parse.extractCode(x))

df3.loc[:,'answer_body'] = df3['answer_body_raw'].apply(lambda row: parse.extractContent(row), 1)
df3.loc[:,'answer_text'] = df3['answer_body_raw'].apply(lambda x: parse.extractText(x))
df3.loc[:,'answer_code'] = df3['answer_body_raw'].apply(lambda x: parse.extractCode(x))
df3.head(5)

print("Time: %0.2f seconds" % (time.time()-start))

Time: 237.74 seconds

In [13]:
df3.columns

Index(['question_id', 'question_title_raw', 'question_body_raw',
       'accepted_answer_id', 'answer_count', 'view_count', 'answer_id',
       'answer_body_raw', 'answer_score', 'is_accepted_answer',
       'question_title_body_raw', 'question_body', 'question_body_text',
       'question_body_code', 'question_title_body', 'question_title_body_text',
       'question_title_body_code', 'answer_body', 'answer_text',
       'answer_code'],
      dtype='object')

In [14]:
df4 = df3[['question_id', 
           'question_title_raw',
           'question_body_raw', 'question_body', 'question_body_text','question_body_code',
           'question_title_body_raw', 'question_title_body', 'question_title_body_text', 'question_title_body_code',
           'answer_id',
           'answer_body_raw','answer_body','answer_text','answer_code',
           'answer_count', 'view_count', 'answer_score', 'is_accepted_answer']]
df4.head(2)

   question_id  ... is_accepted_answer
0     55661532  ...                  0
1     55661626  ...                  1

[2 rows x 19 columns]

# Create Columns for Text/Code and Code/Text Ordering

In [15]:
df4['question_title_body_order_textcode'] = df4['question_title_body_text'] + df4['question_title_body_code']
df4['question_title_body_order_codetext'] = df4['question_title_body_code'] + df4['question_title_body_text']
df4['answer_body_order_textcode'] = df4['answer_text'] + df4['answer_code']
df4['answer_body_order_codetext'] = df4['answer_code'] + df4['answer_text']
df4.head(5)

   question_id  ...                         answer_body_order_codetext
0     55661532  ...  socket.socket(socket.AF_INET, socket.SOCK_STRE...
1     55661626  ...  socket.socket(socket.AF_INET, socket.SOCK_STRE...
2     55661929  ...  x=[]  #your given list\nfor t in range(len(x))...
3     55662778  ...  []appendscript = []\n\nscript.append(['A','A',...
4     55662778  ...  script = [['A','A',['A'],['A'],['A','5','>'],'...

[5 rows x 23 columns]

In [16]:
idx=5
print(df4['question_title_body_text'][idx])
print("################################")
print(df4['question_title_body_code'][idx])
print("################################")
print(df4['question_title_body_order_codetext'][idx])

print("################################")

print(df4['answer_text'][idx])
print("################################")
print(df4['answer_code'][idx])
print("################################")
print(df4['answer_body_order_codetext'][idx])

Python - Inserting and Updating python dict simultaneouslyso I have a list of dicts that looks like this:

And I want an output that looks like this:

That is, I want every  to be the key and have it append the  and  if it belongs to the same field.
Note: I want to do this WITHOUT using a for loop (apart from the loop to iterate through the list). I want to use python dict functions like  and  etc.
Any optimized solutions would be really helpful.
################################
[{
  'field': {
    'data': 'F1'
  },
  'value': F1Value1,
  'date': datetime.datetime(2019, 3, 1, 0, 0)
}, {
  'field': {
    'data': 'F2'
  },
  'value': F2Value1,
  'date': datetime.datetime(2019, 2, 5, 0, 0)
}, {
  'field': {
    'data': 'F2'
  },
  'value': F2Value2,
  'date': datetime.datetime(2019, 2, 7, 0, 0)
}]
[
  {
    'F1': [
      {
        'value': F1Value1,
        'date': datetime.datetime(2019, 3, 1, 0, 0)
      }
    ]
  },
  {
    'F2': [
      {
        'value': F2Value1,
        'date': datetime.datetime(2019, 2, 5, 0, 0)
      },
      {
        'value': F2Value2,
        'date': datetime.datetime(2019, 2, 5, 0, 0)
      },
    ]
  }
]
field.datavaluedateupdate()append()
################################
[{
  'field': {
    'data': 'F1'
  },
  'value': F1Value1,
  'date': datetime.datetime(2019, 3, 1, 0, 0)
}, {
  'field': {
    'data': 'F2'
  },
  'value': F2Value1,
  'date': datetime.datetime(2019, 2, 5, 0, 0)
}, {
  'field': {
    'data': 'F2'
  },
  'value': F2Value2,
  'date': datetime.datetime(2019, 2, 7, 0, 0)
}]
[
  {
    'F1': [
      {
        'value': F1Value1,
        'date': datetime.datetime(2019, 3, 1, 0, 0)
      }
    ]
  },
  {
    'F2': [
      {
        'value': F2Value1,
        'date': datetime.datetime(2019, 2, 5, 0, 0)
      },
      {
        'value': F2Value2,
        'date': datetime.datetime(2019, 2, 5, 0, 0)
      },
    ]
  }
]
field.datavaluedateupdate()append()Python - Inserting and Updating python dict simultaneouslyso I have a list of dicts that looks like this:

And I want an output that looks like this:

That is, I want every  to be the key and have it append the  and  if it belongs to the same field.
Note: I want to do this WITHOUT using a for loop (apart from the loop to iterate through the list). I want to use python dict functions like  and  etc.
Any optimized solutions would be really helpful.
################################
Only using dict, list, and set:

################################
[
  {
    field_data :
      [
        { k:v for k, v in thing.items() if k != 'field' }
        for thing in things if thing['field']['data'] == field_data
      ]
    for field_data in set(thing['field']['data'] for thing in things)
  }
]

################################
[
  {
    field_data :
      [
        { k:v for k, v in thing.items() if k != 'field' }
        for thing in things if thing['field']['data'] == field_data
      ]
    for field_data in set(thing['field']['data'] for thing in things)
  }
]
Only using dict, list, and set:

## Fill nan with empty string

In [17]:
df4 = df4.fillna("")
df4.head(5)

   question_id  ...                         answer_body_order_codetext
0     55661532  ...  socket.socket(socket.AF_INET, socket.SOCK_STRE...
1     55661626  ...  socket.socket(socket.AF_INET, socket.SOCK_STRE...
2     55661929  ...  x=[]  #your given list\nfor t in range(len(x))...
3     55662778  ...  []appendscript = []\n\nscript.append(['A','A',...
4     55662778  ...  script = [['A','A',['A'],['A'],['A','5','>'],'...

[5 rows x 23 columns]

In [18]:
df4.isna().any()

question_id                           False
question_title_raw                    False
question_body_raw                     False
question_body                         False
question_body_text                    False
question_body_code                    False
question_title_body_raw               False
question_title_body                   False
question_title_body_text              False
question_title_body_code              False
answer_id                             False
answer_body_raw                       False
answer_body                           False
answer_text                           False
answer_code                           False
answer_count                          False
view_count                            False
answer_score                          False
is_accepted_answer                    False
question_title_body_order_textcode    False
question_title_body_order_codetext    False
answer_body_order_textcode            False
answer_body_order_codetext            False
dtype: bool

# Save to Google Drive

In [19]:
df4.to_csv('/content/drive/MyDrive/Colab Notebooks/W266 Final Project/data/raw_data_preprocessed.csv', index=False)

# Dataframe Columns

In [20]:
# question_id

# question_title_raw  # no extractcontent, extractcode, nor extracttext <- b/c question-title does not have html tags or code

# question_body_raw
# question_body
# question_body_text
# question_body_code

# question_title_body_raw
# question_title_body
# question_title_body_text
# question_title_body_code

# answer_id

# answer_body_raw
# answer_body
# answer_text
# answer_code

# answer_count
# view_count
# answer_score
# is_accepted_answer