In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

# Load Raw Data

In [ ]:
master_test_data = pd.read_csv (r'/content/drive/MyDrive/Colab Notebooks/W266 Final Project/data/train_dev_test_split_data/master_test_data.csv')
master_test_data.head(2)

   question_id  ... is_accepted_answer
0     55661929  ...                  0
1     55664544  ...                  0

[2 rows x 19 columns]

question_id                 False
question_title_raw          False
question_body_raw           False
question_body               False
question_body_text           True
question_body_code           True
question_title_body_raw     False
question_title_body         False
question_title_body_text     True
question_title_body_code     True
answer_id                   False
answer_body_raw             False
answer_body                 False
answer_text                  True
answer_code                  True
answer_count                False
view_count                  False
answer_score                False
is_accepted_answer          False
dtype: bool

# Filter Data

In [ ]:
master_test_data.columns

Index(['question_id', 'question_title_raw', 'question_body_raw',
       'question_body', 'question_body_text', 'question_body_code',
       'question_title_body_raw', 'question_title_body',
       'question_title_body_text', 'question_title_body_code', 'answer_id',
       'answer_body_raw', 'answer_body', 'answer_text', 'answer_code',
       'answer_count', 'view_count', 'answer_score', 'is_accepted_answer'],
      dtype='object')

In [ ]:
final_data = master_test_data[['question_id', 
                  'question_title_body', 'question_title_body_text',
                  'question_title_raw',
                  'question_body', 'question_body_text',
                  'answer_id', 
                  'answer_body', 'answer_text',
                  'is_accepted_answer']]

In [ ]:
final_data.head(5)

   question_id  ... is_accepted_answer
0     55661929  ...                  0
1     55664544  ...                  0
2     55644043  ...                  0
3     55668648  ...                  0
4     55707618  ...                  1

[5 rows x 10 columns]

# Save Data

In [ ]:
final_data.to_csv('/content/drive/MyDrive/Colab Notebooks/W266 Final Project/data/data_for_tfidf.csv', index=False)